03-AI-Blog-Generation-System/AI Blog Generation workflow.json
[{"name":"AI Blog Generation System","nodes":[{"parameters":{"formTitle":"Blog Post Generator","formFields":{"values":[{"fieldLabel":"Topic","requiredField":true},{"fieldLabel":"Tone","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Professional"},{"option":"Educational"},{"option":"Conversational"},{"option":"Thought Leadership"},{"option":"SEO Focused"}]},"requiredField":true},{"fieldLabel":"Word Count","fieldType":"dropdown","fieldOptions":{"values":[{"option":"500"},{"option":"1000"},{"option":"1500"},{"option":"2000"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,0],"name":"On form submission"},{"parameters":{"promptType":"define","text":"=Write a complete blog article on the following topic.\n\nTopic: {{$json.Topic}}\n\nTone: {{$json.Tone}}\n\nTarget Word Count: {{$json[\"Word Count\"]}}\n\nRequirements:\n\n* Write like an experienced human content writer.\n* Do NOT use markdown formatting.\n* Do NOT use hashtags (#), double hashtags (##), or triple hashtags (###).\n* Do NOT use asterisks (*), bold formatting (**), or bullet points unless absolutely necessary.\n* Use plain text only.\n* Create a compelling title on the first line.\n* Leave a blank line after the title.\n* Write a strong introduction.\n* Use natural section headings without symbols.\n* Write headings in Title Case only.\n* Add practical examples and actionable insights.\n* Maintain a conversational but professional tone.\n* Make the content SEO-friendly.\n* Write as if publishing directly to a business blog.\n* End with a conclusion.\n* Add a FAQ section at the end.\n* Output only the final article without any explanations or notes.\n","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[224,0],"name":"Basic LLM Chain"},{"parameters":{"model":"google/gemma-4-31b-it:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[304,224],"name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"","name":"OpenRouter account"}}},{"parameters":{"folderId":"","title":"={{ $('On form submission').item.json.Topic }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[576,0],"name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Basic LLM Chain').item.json.text }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[784,0],"name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"","name":"Google Docs account"}}},{"parameters":{"fromEmail":"your-email@example.com","toEmail":"your-email@example.com","subject":"=New Blog :  {{ $('Create a document').item.json.name }}","emailFormat":"text","text":"={{ $('Basic LLM Chain').item.json.text }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[992,0],"name":"Send email","credentials":{"smtp":{"id":"","name":"SMTP account"}}}],"pinData":{},"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"On form submission":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1"},"meta":{"templateCredsSetupCompleted":true},"tags":[]}]